body {
    background-image: url('../images/journal-select.png');
}
.select1,.select2,.select3 {
    background-color:#472F1B;
    color: #FAEFEB;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: 'Grey Qo', serif;
    font-size: 24px;
    width: 90px;
    border-radius: 50px;
    border: none;
}
.select1:hover,.select2:hover,.select3:hover {
    opacity: 0.9;
}
.select1:active,.select2:active,.select3:active {
    opacity: 0.7;
}
.select-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 390px;
    margin-left: 50px;
}
.select1 {
    margin-left: 158px;
}
.select2 {
    margin-left: 82px;
}